* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-new {
  z-index: 999999;
  background-color: #fefcfb;
  width: 100%;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
}
.navbar-4 {
  background-color: var(--transparent);
}

.w-nav {
  z-index: 1000;
  position: relative;
}
.w-nav:before,
.w-nav:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}
.container.navflex {
  position: static;
}
.container {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: static;
}
.brand-2 {
  display: flex;
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
  align-items: center;
}
a {
  background-color: #0000;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.nav-menu {
  flex: 1;
  justify-content: center;
  display: flex;
}
.w-nav-menu {
  float: right;
  position: relative;
}
.navigations {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}
.nav-l {
  color: #222;
  text-decoration: none;
  transition: all 0.2s linear;
  position: relative;
}
.nav-buttons.mobile,
.nav-buttons._2 {
  display: none;
}
.nav-buttons {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.login {
  color: #ff523b;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s linear;
}
.sign-up-button {
  border: 1px solid #ff523b;
  background-color: #ff523b;
  color: #fff;
  border-radius: 5px;
  padding: 14px 32px;
  font-weight: 600;
  transition: all 0.15s ease-in;
}
.sign-up-button:hover {
  background: transparent;
  color: black;
  transition: all 0.2s ease-out;
}
.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.menu-button {
  display: none;
}
.hero {
  background-color: #fefcfb;
  padding-top: 20px;
}
.container.hero {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.left-hero,
.right-hero {
  flex: 1; /* KEY */
  max-width: 100%;
}
.heading {
  color: #222;
  max-width: 666px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.text-span {
  color: #ff523b;
}
.paragraph {
  max-width: 497px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 32px;
}
.primary-button {
  border: 1px solid #ff523b;
  background-color: var(--transparent);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 14px 28px;
  font-size: 18px;
  line-height: 32px;
  transition: all 0.15s ease-in;
}
.primary-button:hover {
  background: #ff7a18;
  color: #ffff;
  transition: all 0.2s ease-out;
}
.right-hero {
  -webkit-text-fill-color: inherit;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  position: relative;
  overflow: visible;
}
.hero-card._1 {
  border-radius: 6px;
  max-width: 160px;
  height: auto;
  padding: 5px 10px;
  position: absolute;
  inset: 29% auto auto 6%;
  box-shadow: -1px 4px 15px 2px #0908081a;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.hero-card {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  max-height: none;
  display: flex;
}
.hero-card._2 {
  border-radius: 6px;
  max-width: 182px;
  height: auto;
  padding: 5px 10px 5px 5px;
  position: absolute;
  inset: 45% 9% auto auto;
  box-shadow: -1px 4px 15px 2px #0707071a;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.hero-card._3 {
  border: 0.2px #e6e6e6;
  border-radius: 6px;
  max-width: 188px;
  height: auto;
  padding: 5px 10px;
  position: absolute;
  top: 335px;
  left: 89px;
  box-shadow: -1px 4px 15px 2px #1111111a;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.hero-tiny-text-wrapper {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  display: flex;
}
.hero-tiny-text {
  color: #444;
  max-width: 76px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.hero-tiny-text.paragraph._2 {
  max-width: none;
}
.hero-tiny-text.paragraph {
  color: #666;
  max-width: 110px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.container.explore {
  justify-content: space-between;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 100px;
}
.feature-contanier {
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: none;
}
.dropdown-content-wrapper {
  flex-direction: row;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  max-width: 900px;
  display: flex;
}
.dropdown-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}
.w-dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}
.dropdown-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
}
.w-dropdown-toggle {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}
.icon {
  color: #ff523b;
}
.w-icon-dropdown-toggle {
  width: 1em;
  height: 1em;
  margin: auto 20px auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.dropdown-list {
  background-color: #ddd;
}
.w-dropdown-list {
  background: #ddd;
  min-width: 100%;
  display: none;
  position: absolute;
  color: #222;
  padding: 10px 20px;
  display: block;
}
.text-block-2 {
  color: #666;
  padding-left: 16px;
  font-size: 12px;
}
.secondary-button {
  border: 1px solid #ff523b;
  background-color: #ff523b;
  border-radius: 5px;
  padding: 14px 28px;
  transition: all 0.15s ease-in;
}
.secondary-button:hover {
  background: #ffff;
  color: #ff5a3c;
  transition: all 0.2s ease-out;
}
.feature-contanier-with-dropdown {
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
}
.feature-contanier-with-dropdown.proper-form {
  display: none;
}
.form-block-3 {
  flex-direction: row;
  width: 100%;
  display: flex;
}
.w-form {
  margin: 0 0 15px;
}
.form-4 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}
.location-field-new {
  color: #000;
  background-color: #fff;
  border: 0 solid #0000;
  max-width: 150px;
  margin-bottom: 10px;
  font-size: 16px;
}
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.w-input,
.w-select {
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  line-height: 1.42857;
  display: block;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
option {
  padding-block-start: 0px;
  white-space: nowrap;
}
.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}
.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}
.guest-field {
  background-color: var(--transparent);
  color: #333;
  border: 0 #000;
  max-width: 150px;
  font-size: 16px;
}
.date-field {
  background-color: var(--transparent);
  color: #333;
  border: 0 #000;
  max-width: 150px;
  font-size: 16px;
  display: flex;
}
.success-message {
  background-color: #fceee6;
}
.things-to-do {
  background-color: #f7f8fc;
  padding-top: 120px;
  padding-bottom: 120px;
}
.container.things {
  padding-top: 0;
  display: block;
}
.things-you-need-intro {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}
.heading-2 {
  color: #222;
  max-width: none;
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 54px;
}
.text-span-2 {
  color: #ff523b;
}
.paragraph-2 {
  color: #666;
  text-align: center;
  max-width: 482px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.image-5 {
  opacity: 0.7;
  position: absolute;
  inset: 0% 6% auto auto;
}
.steps-container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 64px;
  display: flex;
}
.step1 {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.step1:hover {
  background-color: #fff;
  transform: scale(1.04);
}
.heading-3 {
  z-index: 1;
  margin-top: 48px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 34px;
  position: relative;
}
.text-block-4 {
  z-index: 12;
  max-width: 290px;
  margin-top: 16px;
  position: relative;
}
.image-4 {
  z-index: 0;
  opacity: 0.89;
  position: absolute;
  inset: 0% auto auto 0%;
}

.deals-section {
  padding: 40px 20px;
  text-align: center;
}

.deals-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.deals-section h2 span {
  color: #ff6a00;
}
.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 40px;
}
.exclusive-deals {
  background: #fffaf7;
  padding: 80px 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 14px;
  max-width: 1200px;
  margin: auto;
}

.deal-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
}

.deal-card:hover {
  transform: translateY(-6px);
}

.img-box {
  height: 380px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 18px 18px 22px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.rating {
  color: #ffb703;
  font-size: 14px;
}

.bottom {
  margin-top: 14px;
}

.country {
  color: #777;
  font-size: 14px;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price del {
  color: #aaa;
  font-size: 14px;
}

.offer {
  background: #ffe7db;
  color: #ff5a3c;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}
.arrow-wrapper {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 40px;
}

.arrow-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  border: 1.5px solid #ddd;
  background: transparent;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.arrow-btn.next {
  background: #ff6a00;
  border-color: #ff6a00;
  color: #fff;
}
.arrow-btn:hover {
  transform: scale(1.05);
}

.vacation-section {
  background: #fefcfb;
  padding: 80px 40px;
}

.vacation-header {
  max-width: 800px;
  margin: auto;
  display: flex;
}

.title-wrap {
  text-align: center;
  flex: 1;
  position: relative;
}

.title-wrap h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.title-wrap h2 span {
  color: #ff6a00;
}

.title-wrap p {
  color: #777;
  font-size: 14px;
  max-width: 420px;
  margin: auto;
}
.title-wrap .image-9 {
  position: absolute;
  width: 100px;
  opacity: 0.8;
  inset: 60% 5% auto auto;
}
.sliter-wrapper {
  display: flex;
  gap: 12px;
  align-self: flex-end;
}
.sliter-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: transparent;
  color: #999;
  cursor: pointer;
}
.sliter-btn.next {
  background: #ff6a00;
  color: white;
  border-color: #ff6a00;
}
.vacation-cards {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.vacation-card {
  width: 300px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.vacation-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  display: block;
}
.vacation-card img:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 5px 15px #f8fbfe;
}
.card-details {
  padding: 18px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h3 {
  font-size: 18px;
  margin: 0;
}

.price-1 {
  color: #ff6a00;
  font-weight: 600;
}

.trip {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 14px;
}
.testimonial {
  background-color: #f7f8fc;
  padding: 60px 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.container.testi {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-intro {
  padding-left: 0;
}
.text-span-3 {
  color: #ff523b;
}
.paragraph-3._2 {
  max-width: 433px;
}
.paragraph-3 {
  color: #666;
  text-align: left;
  max-width: 100%;
  min-width: 0; /* KEY */
}
.side-arrow {
  display: flex;
  gap: 12px;
}
.side:hover {
  transform: scale(1.05);
}
.side {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}
.side.next {
  background: #ff7a18;
  color: #fff;
  border: none;
}
.testimonial-right {
  width: 100%;
  max-width: 420px;
  position: relative;
}
.grid {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}
.grid.active {
  position: relative;
  z-index: 2;
}
.grid.shadow {
  position: absolute;
  bottom: -40px;
  left: 40px;
  width: 85%;
  opacity: 0.3;
  z-index: 1;
}
.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid transparent;
  margin-bottom: 16px;
}
.quote {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}
.grid h4 {
  margin: 0;
}
.location-1 {
  font-size: 10px;
  color: #999;
}
.grid:hover {
  translate: -6px;
}
.blog-section {
  background: #fff;
  padding: 80px 40px;
}

.blog-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 60px;
}

.blog-header h2 {
  font-size: 42px;
  font-weight: 700;
}

.blog-header h2 span {
  color: #ff6a00;
}

.blog-header p {
  margin-top: 14px;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.blog-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 18px;
  transition: transform 0.4s ease;
}

.blog-card h3 {
  margin: 16px 0 8px;
  font-size: 12px;
  font-weight: 600;
}

.blog-card .date {
  color: #999;
  font-size: 10px;
}
.blog-card img:hover {
  transform: scale(0.9);
}
.blog-card h3:hover {
  transform: scale(0.96);
  cursor: pointer;
  color: #ff5a3c;
}
.subscribe-section {
  background-color: #fefcfb;
  padding-bottom: 0;
}
.container.subscribe {
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px 24px;
  display: flex;
}
.container.subscribe {
  background-color: #fa7436;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.heading-2-white {
  z-index: 1;
  max-width: 600px;
  font-size: 40px;
  position: relative;
  color: #ffff;
  text-align: center;
  min-width: 0;
  margin-top: 10px;
  margin-bottom: 24px;
  line-height: 54px;
}
.form-block {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  min-width: 520px;
  padding: 8px 8px 8px 14px;
  border-radius: 12px;
  display: flex;
  position: relative;
}
.w-form {
  margin: 0 0 8px;
}
.form {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}
.text-field {
  font-size: 15px;
  border: 1px #000;
  border-radius: 12px;
  flex: 1;
  height: 34px;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
}
.w-input,
.w-select {
  vertical-align: middle;
  background-color: #fff;
  width: 100%;
  padding: 8px 12px;
  line-height: 1.42857;
}
input {
  line-height: normal;
}
.button-5 {
  background-color: #ff523b;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 12px 22px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}
.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}
.tree-icon {
  width: 80px;
  position: absolute;
  inset: 0% 0% auto auto;
}
.spiral-overlay {
  max-width: 35%;
  z-index: 0;
  opacity: 0.91;
  position: absolute;
  inset: auto auto 0% 0%;
}
.footer-section {
  background-color: #f7f8fc;
}
.container.footer {
  padding-top: 100px;
  padding-bottom: 10px;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.text-block-8 {
  color: #666;
  max-width: 254px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.socials {
  display: flex;
  gap: 12px;
}

.facebook {
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 12px;
}
.facebook-icon {
  width: 16px;
  height: 16px;
}
.footer-links.hide {
  opacity: 1;
}
.footer-links {
  flex-direction: column;
  width: 140px;
  max-width: none;
  display: flex;
}
.footer-nav-title {
  color: #222;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
}
.footer-nav {
  color: #999;
  margin-bottom: 16px;
  text-decoration: none;
  transition: color 0.2s linear;
}
.container.copyright {
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright {
  justify-content: center;
  align-items: center;
  display: flex;
}
.location-icon {
  width: 15px;
  height: auto;
}

[class^="w-icon-"],
[class*=" w-icon-"] {
  line-height: 1;
  font-family: webflow-icons !important;
}
.w-icon-nav-menu:before {
  content: "";
}

/* Mobile view  */

@media screen and (max-width: 991px) {
  .nav-menu {
    display: none;
    position: fixed;
    top: 70px; /* navbar height */
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: #fefcfb;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    z-index: 999;
  }
}

@media screen and (max-width: 991px) {
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff523b;
    color: #fff;
    border-radius: 6px;
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 991px) {
  .w-nav-menu.w--open {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .navigations {
    flex-direction: column;
    gap: 24px;
  }

  .nav-l {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .nav-buttons.mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-buttons {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .container.hero {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .container.hero {
    flex-direction: column;
    padding: 20px 16px 40px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 30px;
    line-height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    font-size: 15px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .paragraph {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  .primary-button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .hero-card._1 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding: 3px 3px 3px 5px;
    left: 2%;
  }
}

@media screen and (max-width: 479px) {
  .hero-card._2 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 3px;
    right: 3%;
  }
}

@media screen and (max-width: 479px) {
  .hero-card._3 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding: 3px 5px;
    top: 235px;
  }
}

@media screen and (max-width: 479px) {
  .container.explore {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container.explore {
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 479px) {
  .feature-contanier {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .feature-contanier {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-content-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    overflow: visible;
  }
}
@media screen and (max-width: 767px) {
  .dropdown-content-wrapper {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-toggle {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-wrapper {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .text-block-2 {
    font-size: 8px;
    line-height: 12px;
  }
}
@media screen and (max-width: 767px) {
  .text-block-2 {
    padding-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .secondary-button {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .feature-contanier-with-dropdown {
    align-items: center;
    margin-bottom: 20px;
    padding: 4px 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .feature-contanier-with-dropdown {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .form-3 {
    flex-flow: column wrap;
    align-items: flex-start;
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .location-field-new {
    margin-bottom: 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .location-field-new {
    max-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 479px) {
  .guest-field {
    margin-bottom: 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .guest-field {
    max-width: 150px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 479px) {
  .date-field {
    max-width: 120px;
    margin-bottom: 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .date-field {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 479px) {
  .things-to-do {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container.things,
  .container.exclusive,
  .container.navflex {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .heading-2 {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .heading-2 {
    z-index: 1;
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-2 {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  .paragraph-2 {
    z-index: 1;
    line-height: 30px;
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .image-5 {
    opacity: 0.53;
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .image-5 {
    right: -4%;
  }
}

@media screen and (max-width: 479px) {
  .steps-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .step1 {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .step1 {
    padding: 20px;
  }
}

@media screen and (max-width: 479px) {
  .heading-3 {
    margin-top: 40px;
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: 479px) {
  .text-block-4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container.subscribe {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-section .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .socials {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .heading-2-white {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 991px) {
  .heading-2-white {
    z-index: 1;
    max-width: 600px;
    position: relative;
  }
}
@media screen and (max-width: 479px) {
  .form-block {
    padding: 5px 5px 5px 10px;
  }
}
@media screen and (max-width: 767px) {
  .form-block {
    min-width: 0;
  }
}
@media screen and (max-width: 767px) {
  .blog-section {
    padding-top: 40px;
  }
}
@media screen and (max-width: 479px) {
  .blog-section {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .blog-header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 479px) {
  .blog-header h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .blog-header h2 {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .blog-header h2 {
    z-index: 1;
    font-size: 40px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .blog-cards {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: wrap;
  }
}
@media screen and (max-width: 991px) {
  .testimonial {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: visible;
  }
}
@media screen and (max-width: 767px) {
  .container.testi {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (max-width: 991px) {
  .container.testi {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    overflow: visible;
  }
}

@media screen and (max-width: 767px) {
  .left-intro {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .testimonial-right {
    min-width: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .testimonial-right {
    overflow: hidden;
  }
}
@media screen and (max-width: 991px) {
  .testimonial-right {
    border-radius: 12px;
  }
}

@media (max-width: 767px) {
  .grid.shadow {
    position: static;
    width: 100%;
    opacity: 0.15;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .vacation-section {
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .vacation-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 479px) {
  .title-wrap .image-9 {
    opacity: 0.23;
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .title-wrap .image-9 {
    right: -4%;
  }
}

@media screen and (max-width: 767px) {
  .vacation-cards {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: wrap;
  }
}
